<h2 class="animate__animated animate__pulse">Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder = "Buscar Capital...">
        </app-pais-input>
    </div>
</div>

<hr class="animate__animated animate__rubberBand">
<div *ngIf="hayError"
     class="alert alert-danger">
     No se encontró nada con el término {{termino}}.
</div>
<hr class="animate__animated animate__rubberBand">

<div *ngIf="paises.length > 0"
      class="row">
    <div class="col">
      <hr>
      <app-loading-spinner></app-loading-spinner>
      <app-pais-tabla [paises]=paises></app-pais-tabla>
    </div>
</div>
