<h2 class="animate__animated animate__backInUp">Busquedas</h2>
<hr class="animate__animated animate__backInUp">
<ul class="list-group"
    class="animate__animated animate__flip">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
        Buscar país</li>
    <li routerLink="region"
        routerLinkActive="active"
        class="list-group-item">
        Por región</li>
    <li routerLink="capital"
        routerLinkActive="active" 
        class="list-group-item">
        Por capital
    </li>
</ul>

