<h3>Buscar por región <small>{{regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione la región.</h5>

<div class="row">
    <div class="col">
        
        <!-- Esto es una manera de hacer, lo que se puede hacer con [ngClass] -->
        <!-- [class.btn-primary]="region === regionActiva" -->
        <!-- [enClass] es una manera más elegante de hacerlo, pero podemos mejoralo para no tener que hacer más de una operación lógica. -->
        <!-- [ngClass]="{
            'btn-primary': region === regionActiva,
            'btn-outline-primary': region !== regionActiva
        }" -->
        <button *ngFor="let region of regiones"
            [class]= "getClaseCSS(region)"
            (click)="activarRegion(region)">
            {{region | titlecase}}
        </button>
    </div>
</div>

<hr>
<div *ngIf="paisesRegion.length > 0"   
    class="row">
  <div class="col">
      <app-pais-tabla [paises]=paisesRegion></app-pais-tabla>
  </div>
</div>
